<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title> Alta de productos </title>
  </head>
  <body>
    <h1>Alta de Productos</h1>

    <form action="/productos/crear" method="POST">
        <input type="text" name="id" placeholder="Ingresa el ID del producto">
        <br>
        <input type="text" name="nombre" placeholder="Ingresa el NOMBRE del producto">
        <br>
        <input type="text" name="precio" placeholder="Ingresa el PRECIO del producto">
        <br>
        <input type="text" name="descripción" placeholder="Ingresa la DESCRIPCIÓN del producto">
        <br>
        <input type="text" name="marca" placeholder="Ingresa la MARCA del producto">
        <br>
        <input type="text" name="stock" placeholder="Ingresa el STOCK del producto">
        <br>
        <button type="submit"> CREAR PRODUCTO</button>



    </form>
  </body>
</html>